:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color-scheme: dark;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
}

input {
  padding: 5px;
}

button {
  background-color: rgb(70, 0, 0);
  border: 1px solid rgb(73, 73, 73);
  border-radius: 5px;
  width: 100px;
  align-self: center;
  padding: 5px;
  margin: 5px;
}

.blogList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
  margin-top: 25px;
  background-color: rgb(73, 73, 73);
  border-radius: 15px;
  padding: 20px;
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(70, 0, 0);
  padding: 20px;
  border: 2px solid rgb(123, 123, 123);
  border-radius: 10px;
}

.blogTitle {
  margin: 0;
}

.blogAuthor {
  font-style: italic;
}

.buttonsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.visitButton {
  text-decoration: none;
  color: white;
  background-color: rgba(53, 53, 252, 0.701);
  padding: 3px;
  border: 1px solid rgb(123, 123, 123);
  border-radius: 10px;
  font-size: 15px;
}

.deleteButton {
  width: 50px;
  background-color: rgba(247, 45, 45, 0.845);
}

.voteBtn {
  width: 50px;
}
